/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-text, sans-serif);
  font-variation-settings: 'wght' var(--normal-font, 400);
  background-image: url(../images/0_background.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.header {
  margin: 100px auto;
  font-family: var(--acsent-text, sans-serif);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  max-width: clamp(375px, 50vw, 700px);
  border: 2px solid black;
}

.header-title {
  font-weight: 400;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  margin-block-start: clamp(7.5rem, 7.3239rem + 0.7512vw, 8rem);;
}

.header-subtitle {
  font-weight: 400;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
  margin-block-end: clamp(7.5rem, 7.3239rem + 0.7512vw, 8rem);;
}

@media (width <= 375px) {
  .header {
    margin: 100px 0;
  }
}