/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-text, sans-serif);
  font-variation-settings: 'wght' var(--normal-font, 400);
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.header {
  margin: 100px auto clamp(6.25rem, 6.228rem + 0.0939vw, 6.3125rem) auto;
  font-family: var(--acsent-text, sans-serif);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  max-width: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  border: 2px solid #000;
}

.header__title {
  font-weight: 400;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  margin-block-start: clamp(7.5rem, 7.3239rem + 0.7512vw, 8rem);
}

.header__subtitle {
  font-weight: 400;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
  margin-block-end: clamp(7.5rem, 7.3239rem + 0.7512vw, 8rem);
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

.hero__card {
  margin: 0 auto;
  max-width: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  border: 2px solid #000;
  background-color: #fff;
  font-size: 18px;
  line-height: 21px;
}

.card__title {
  font-variation-settings: 'wght' var(--bold-font, 700);
  font-size: 18px;
  padding: 6px 10px 4px 10px;
}

.card__image-wrapper {
  max-width: clamp(23.4375rem, 16.3732rem + 30.1408vw, 43.5rem);
  max-height: clamp(23.4375rem, 16.3732rem + 30.1408vw, 43.5rem);
  border-block-start: 2px solid #000;
  border-block-end: 2px solid #000;
  position: relative;
}

.card__image {
  inline-size: 100%;
  object-fit: fill;
  object-position: center;
  z-index: 1;
}

.image-rushmore {
  filter: opacity(75%);
}

.image-tannenbaum{
  filter: contrast(75%) brightness(93%);
}

.image-darjlink{
  filter: saturate(30%) sepia(100%);
}

.image-fox{
  filter: grayscale(70%);
}

.image-moonrise{
  filter: invert(75%);
}

.image-hotel{
  filter: blur(1px);
}

.image-isle{
  filter: sepia(60%);
}

.image-french{
  filter: hue-rotate(30deg);
}

.card__image-label {
  font-family: var(--acsent-text);
  font-size: 14px;
  background-color: transparent;
  mix-blend-mode: hard-light;
  position: absolute;
  z-index: 2;
  /* mobile 262px desktop left: 573px */
  left: clamp(16.375rem, 9.5308rem + 29.2019vw, 35.8125rem);
  /* mobile 19px desktop 22.8px */
  top: clamp(1.1875rem, 1.1039rem + 0.3568vw, 1.425rem);
  text-shadow:
  -1px 0 var(--outline-color, #808080), 
  0 1px var(--outline-color, #808080), 
  1px 0 var(--outline-color, #808080), 
  0 -1px var(--outline-color, #808080);
}

@supports((text-stroke: 1px var(--outline-color, #808080)) or (-webkit-text-stroke: 1px var(--outline-color, #808080))) {
  .card__image-label {
    -webkit-text-stroke: 1px var(--outline-color, #808080);
    /* text-stroke: 1px var(--outline-color, #808080); */
    text-shadow: none;
  }
}

.card__texts {
  /* mobile (margin-top: 26px) desktop (margin-top: 30px) */
  margin: clamp(1.625rem, 1.537rem + 0.3756vw, 1.875rem) 26px 24px 26px;
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.card__buttons {
  /* mobile (margin-left: 171px) desktop (margin-left: 496px) */
  margin: 0 25px 25px clamp(10.6875rem, 3.5352rem + 30.5164vw, 31rem);
  display: flex;
  align-items: center;
  gap: 6px;
}

.button {
  border: 2px solid var(--acsent-color, #000);
  background-color: #fff;
  position: relative;
}

.button::after{
  content:"";
  position: absolute;
  inset: 0;
  background-color: var(--acsent-color, #000);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.button:hover::after {
  transform: scaleX(1);
}

.button:focus, .card__icon-button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--acsent-color, #000);
  transition: box-shadow 0.3s ease;
}

.card__icon-button {
  background-color: #fff;
  border: 2px solid transparent;
  padding: 0;
}

.card__icon-button:focus-visible {
  border-color: var(--acsent-color, #000);
  transition: border-color 0.3s ease;
}

.like-icon{
  max-height:33px;
}

.sparks {
  opacity: 0;
}

.card__like-button {
  padding-block: 7.5px;
  /* padding-inline: 36px; */
  width: 138px;
}

.button__text {
  font-family: var(--acsent-text);
  font-size: 14px;
  line-height: 90%;
  position: relative;
  z-index: 10;
  color: var(--primary-color, #fff);
  mix-blend-mode: difference;
}

.button__save {
  /* mobile 306px desktop 335px */
  max-width: clamp(19.125rem, 18.4868rem + 2.723vw, 20.9375rem); 
  padding: 15px 20px;
  margin-block-end: 100px;
  display: flex;
  align-items: center;
  gap: 4.9px;
}

.save__icon {
  position: relative;
  z-index: 10;
  width: 21px;
  height: 21px;
  color: var(--primary-color, #fff);
  mix-blend-mode: difference;
}

.dialog-save[open] {
  border: 2px solid #000;
  padding: 30px;
  display: grid;
  grid-template-columns: min-content clamp(12.375rem, 11.5827rem + 3.3803vw, 14.625rem);
  grid-template-rows: auto auto;
  align-items: center;
  column-gap: 20px;
  row-gap: 30px;
}

.dialog-text {
  line-height: 150%;
  text-transform: uppercase;
}

.button__close-dialog {
  grid-row: 2;
  grid-column: 1/3;
  padding: 8px 0;
}

.dialog-save::backdrop {
  background-color: rgb(0, 0, 0, 0.75);
  backdrop-filter: blur(2px);
}

@media (width <= 375px) {
  .header {
    margin: 100px 0;
  }

  .hero__card {
    margin: 0;
  }

  .button__save {
    flex-direction: column;
    padding: 15px 18px;
    gap: 9px;
  }

  .save__icon{
    width: 28px;
    height: 28px;
  }

  .dialog-save[open] {
    padding: 30px 40px;
  }
}